name: Labeler
on:
  pull_request:
  workflow_dispatch:
    inputs:
      pr-number:
        description: 'The pull request number(s)'
        required: true

permissions: {}

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - uses: srz-zumix/labeler-action@5883520a32fbbea61d20ded8fd2e272eedfe3ca9 # v0.4.4
        with:
          pr-number: ${{ github.event.inputs.pr-number || github.event.number }}
